<form novalidate>
  <fieldset [formGroup]="editorForm" [disabled]="working">
    <button type="button" class="close" [attr.aria-label]="'general.closeWithoutSaving' | translate" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="content">
      <h4>User editor</h4>

      <h5>Mandatory fields</h5>

      <div class="row g-4" *ngIf="!changePassword">
        <div class="col-sm-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username"
                   [appAutofocus]="true" [appAutofocusDelay]="500">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email address">
            <label for="email">Email address</label>
          </div>
        </div>
      </div>

      <div class="row g-4 mt-1" formGroupName="password" *ngIf="changePassword || !user">
        <div class="col-sm-6">
          <div class="form-floating">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password"autocomplete="new-password"
                   [appAutofocus]="user && changePassword" [appAutofocusDelay]="600">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating">
            <input type="password" class="form-control" id="passwordCheck" formControlName="passwordCheck" placeholder="Retype password">
            <label for="passwordCheck">Retype password</label>
          </div>
        </div>

        <div *ngIf="editorForm.get('password').touched && editorForm.get('password').errors" class="text-danger mt-1 mx-1">
          <small *ngIf="editorForm.get('password').errors.required">Type in a password</small>
          <small *ngIf="editorForm.get('password').errors.passwordMinimumLengthRequired">Passwords must be at least 8 characters long</small>
          <small *ngIf="editorForm.get('password').errors.passwordLowComplexity">Password must have at least one lower case letter, one capital letter and a number</small>
          <small *ngIf="editorForm.get('password').errors.passwordMismatch">The two passwords do not match</small>
        </div>
      </div>

      <h5 class="mt-3" *ngIf="!changePassword">Optional fields</h5>

      <div class="row g-4" *ngIf="!changePassword">
        <div class="col-sm-4">
          <div class="form-floating">
            <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="First name"
                   appAlphaOnly="^[A-Za-z-. ]+$">
            <label for="firstName">First name</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-floating">
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last name"
                   appAlphaOnly="^[A-Za-z-. ]+$">
            <label for="lastName">Last name</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-floating">
            <input type="tel" class="form-control" id="phone" formControlName="phone" placeholder="Phone">
            <label for="phone">Phone</label>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end align-items-center mt-5">
        <button type="button" class="btn btn-link text-info me-3" (click)="close()">Close without saving</button>
        <button type="button" class="btn btn-info" (click)="saveChanges()" [disabled]="editorForm.invalid">
          <fa-icon icon="spinner" [pulse]="true" size="sm" class="me-1" *ngIf="working"></fa-icon>
          Save changes
        </button>
      </div>
    </div>
  </fieldset>
</form>
