fieldset
{
  height: 80vh;
}

p.lead
{
  color: #ff9c07;
  margin: 1rem 1rem 0;
}

h4
{
  color: #00dcff;
}

h5
{
  color: #ff9c07;
}

.list-group
{
  counter-reset: count;
}

.list-group-item
{
  background: none;
  padding: .5rem .5rem .5rem 1rem;
  border-radius: 0;
  color: #5a8cd8;
  border-color: rgb(61, 94, 142, .25);
  counter-increment: count;

  .tag
  {
    padding: 0 1rem 0 2rem;
    flex-grow: 1;

    &:before
    {
      content: counter(count) ".";
      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
    }
  }

  .form-control
  {
    height: auto;
    border-radius: 0;
    background: none;
    border-color: transparent;
    color: #ff9c07;
    font-size: 1.2rem;
    padding: 0 .25rem;

    + .form-control
    {
      font-size: 1rem;
      color: #8881ff;

      &:focus, &:active
      {
        color: #ff9c07;
      }
    }

    &:focus, &:active
    {
      background: none;
      border-color: #00e7ff;
      color: #ff9c07;
    }
  }
}

textarea
{
  resize: vertical;
}

.add-tag
{
  padding: 1rem;

  .form-control
  {
    background: none;
    border-color: #00e7ff;
    color: #ff9c07;
    border-radius: 0;
    border-radius: 3rem;
    padding: .5rem 1rem;

    + .form-control
    {
      margin-top: .5rem;
      border-radius: 2rem;

      + .btn
      {
        margin-top: .5rem;
        padding: .5rem;
        width: 100%;
      }
    }
  }

  textarea
  {
    resize: none;
  }
}

.overflow-v
{
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 -1rem 1rem;
}
