<div class="d-flex flex-column h-100">
  <div class="overflow-auto flex-grow-1">
    <div class="container mb-3">

      <div *ngIf="userInfo" class="row pt-2">
        <div class="col-sm-6">
          <fieldset>
            <legend>
              {{ 'account.myProfile' | translate }}

              <button class="btn btn-outline-info" container="body" (click)="showEditor()">
                {{ 'account.updateProfile' | translate }}
              </button>
            </legend>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Name: <b>{{ userInfo.firstName }} {{ userInfo.lastName }}</b>
              </li>
              <li class="list-group-item">
                Username: <b>{{ userInfo.login }}</b>
              </li>
              <li class="list-group-item">
                Email: <b>{{ userInfo.email }}</b>
              </li>
              <li class="list-group-item">
                Phone: <b>{{ userInfo.phone }}</b>
              </li>
              <li class="list-group-item">
                Container Name Service:
                <span class="badge border ms-1 text-uppercase"
                  [ngClass]="userInfo.triton_cns_enabled ? 'border-success text-success' : 'danger-success text-danger'">
                  {{ userInfo.triton_cns_enabled ? 'enabled' : 'disabled' }}
                </span>
              </li>
            </ul>
          </fieldset>
        </div>

        <div class="col-sm-6">
          <fieldset>
            <legend>
              {{ 'account.myKeys' | translate }}

              <button class="btn btn-outline-info" container="body" (click)="addSshKey()">
                {{ 'account.addKey' | translate }}
              </button>
            </legend>

            <ol class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let userKey of userKeys">
                {{ userKey.name }}: <b class="text-uppercase">{{ userKey.fingerprint }}</b>
              </li>
            </ol>
          </fieldset>
        </div>
    </div>
  </div>
</div>
</div>