<form novalidate>
  <fieldset>
    <button type="button" class="close" [attr.aria-label]="'general.closeWithoutSaving' | translate" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="content d-flex flex-column">
      <h4 class="mb-3">Machine history</h4>

      <div class="text-center">
        <div class="spinner-border text-info text-faded" role="status" *ngIf="loading">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div class="table-responsive flex-grow-1">
        <table class="table table-hover" *ngIf="!loading">
          <thead>
            <tr>
              <th>Action</th>
              <th>Time</th>
              <th>Finished</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let info of history">
              <td>
                <b>{{ info.action }}</b>
              </td>
              <td>{{ info.time | timeago }}</td>
              <td>
                <span class="badge border text-uppercase" [ngClass]="info.success === 'yes' ? 'text-success border-success' : 'text-danger border-danger'">
                  {{ info.success }}
                </span>
              </td>
              <td>
                <div class="text-truncate">{{ info.caller.keyId }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </fieldset>
</form>
