<ngx-datatable [rows]="rows" [headerHeight]="48" [footerHeight]="46" [rowHeight]="40"
               [scrollbarV]="true" [scrollbarH]="false" [selectionType]="selectionType.checkbox" [columnMode]="columnMode.flex"
               [loadingIndicator]="loadingIndicator">
  <ngx-datatable-column [width]="30"
                        [sortable]="false"
                        [canAutoResize]="false"
                        [draggable]="false"
                        [resizeable]="false"
                        [headerCheckboxable]="true"
                        [checkboxable]="true">
  </ngx-datatable-column>

  <ngx-datatable-column name="Name" [canAutoResize]="true" [flexGrow]="1"></ngx-datatable-column>

  <ngx-datatable-column name="Description" [flexGrow]="2">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div class="text-truncate">{{ value }}</div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Status" prop="state" [width]="70" [canAutoResize]="false">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <span class="badge" [ngClass]="value === 'active' ? 'bg-success' : 'bg-warning text-dark'">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="OS" [canAutoResize]="false" [width]="100">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div class="os" [class.smartos]="value === 'smartos'" [class.bsd]="value === 'bsd'"
           [class.windows]="value === 'windows'" [class.linux]="value === 'linux'">
        <span>{{ value }}</span>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Type" [width]="120" [canAutoResize]="false"></ngx-datatable-column>

  <ngx-datatable-column name="Publish date" prop="published_at" [width]="100" [canAutoResize]="false">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value | date | timeago }}
    </ng-template>
  </ngx-datatable-column>

  <!--<ngx-datatable-column name="Tags">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <ng-container *ngFor="let tag of value | keyvalue">
        <span class="badge badge-dark mr-1">{{ tag.key }} <span class="text-primary">{{ tag.value }}</span></span>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>-->

  <ngx-datatable-column [flexGrow]="1" cellClass="text-right" headerClass="text-right" [sortable]="false">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <button class="btn btn-sm btn-primary m-1">Instances</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
