@import "../../../styles/_variables.scss";

.list-group-item
{
  background: none;
  color: $table-header-color;

  span
  {
    color: #8881ff;
  }

  b, .strong
  {
    color: #ff9c07;
    font-weight: normal;
  }
}

.form-check-label
{
  font-size: 1rem;
}
