$placeholder-color: #808080;
$headings-color: #2A528F;
$primary: #0A6CF5;
$secondary: #AD65E3;
$danger: #E64051;
$warning: #F2A974;
$info: #678BD5;
$success: #2AAA65;

$success-color: #0bb13b;
$danger-color: #ff384b;
$table-header-color: #3d5e8e;
$table-body-color: #7dbbf1;
